# Milestone 2

## Nama  : Irvandhi Stanly Winata
## Batch : HCK - 013

**Objective and Background**

This is the inference notebook for testing

===========================================================================================================================

# Data Inference

## Import Libraries and Files

Importing necessary libraries and the files that were saved from our model creation

In [1]:
# Load library
import pandas as pd
import numpy as np
import pickle

In [2]:
# Load model and other files

with open("model_svm_tuned.pkl", "rb") as file_3:
  model = pickle.load(file_3)

## Creating Data Inference

Creating a randomized dataset for inference testing

In [13]:
# Making a randomized dataset for inference

test = {'gender': ['Male', 'Male', 'Female', 'Female'],
        'age': [50, 70, 80, 14],
        'hypertension': [0, 1, 1, 0] ,
        'heart_disease': [1, 0, 1, 0] ,
        'ever_married': ['Yes', 'No', 'Yes', 'No'] ,
        'work_type': ['Private', 'Self-employed', 'Private', 'children'] ,
        'Residence_type': ['Rural', 'Urban', 'Rural', 'Urban'] ,
        'avg_glucose_level': [99.99, 88.88, 222.22, 98.76],
        'bmi': [33.3, 44.4, 55.55, 26.8] ,
        'smoking_status': ['formerly smoked', 'never smoked', 'smokes', 'never smoked']}

testdf = pd.DataFrame(test)
testdf.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,Male,50,0,1,Yes,Private,Rural,99.99,33.30,formerly smoked
1,Male,70,1,0,No,Self-employed,Urban,88.88,44.40,never smoked
2,Female,80,1,1,Yes,Private,Rural,222.22,55.55,smokes
3,Female,14,0,0,No,children,Urban,98.76,26.80,never smoked

## Predicting

After obtaining the data inference final, we can predict the taxi's fare based on the made up data set above. It can be seen that the model predicted the patients number 1,2 and 4 will not have brain stroke, wherease patient number 3 is likely to have brain stroke.

In [14]:
#Predicting

y_pred_inference = model.predict(testdf)
y_pred_inference = pd.DataFrame(y_pred_inference, columns=['stroke'])

In [15]:
# Concate to Original Dataframe
df_inf_result = pd.concat([testdf, y_pred_inference], axis=1)
df_inf_result

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,50,0,1,Yes,Private,Rural,99.99,33.30,formerly smoked,0
1,Male,70,1,0,No,Self-employed,Urban,88.88,44.40,never smoked,0
2,Female,80,1,1,Yes,Private,Rural,222.22,55.55,smokes,1
3,Female,14,0,0,No,children,Urban,98.76,26.80,never smoked,0